.landing-page {
  font-family: Arial, sans-serif;
}

.logo {
  height: 40px;
  margin-right: auto;
}

.appbar-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.dashboard-button {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
}

.get-started-button {
  background-color: #2f27ce;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
}

.body-content {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.main-text {
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.sub-text {
  font-size: 24px;
  color: #555;
  margin-top: 20px;
}

.get-started-button-body {
  background-color: #2f27ce;
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 4px;
  margin-top: 40px;
}

.features-section {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.features-title {
  font-size: 36px;
  font-weight: bold;
  color: #2f27ce;
  margin-bottom: 40px;
}

.feature {
  margin-bottom: 40px;
}

.feature-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.feature-text {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.feature-image {
  width: 80%; /* Increase image size */
  max-width: 600px; /* Max size for large screens */
  height: auto;
  margin-top: 20px;
}

.feature-divider {
  border: 0;
  border-top: 1px solid #000000; /* Solid line for visual appeal */
  margin: 40px 0;
  width: 80%; /* Make the divider smaller than the content width */
  margin-left: auto;
  margin-right: auto;
}

